.container {
    display: flex;
    gap: 16px;
    width: 90%;
    margin: 32px auto;
  }
  
  .column {
    flex: 1;
    background-color: #f9fafb;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    margin: 0 15px;
  }

  .title_container{
    background-color: red;
    width: 100%;
    border-radius: 8px 8px 0 0;
    padding : 1rem;
    background-color: var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
  }
  
  .subtitle {
    font-size: 0.9rem;
    color: #555555;
    margin-bottom: 8px;
  }
  
  .task {
    background-color: #ffffff;
    padding: 12px;
    margin: 8px 0;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: #333333;
    transition: transform 0.2s ease, background-color 0.3s ease;
  }
  
  .task:hover {
    background-color: #e6f7ff;
    transform: scale(1.03);
  }
  
  .task.dragging {
    opacity: 0.6;
    cursor: grabbing;
    background-color: #d9f7be;
  }
  